.reset_crew {

    margin-top:20px;
    height:100vh;
    margin: auto;
    width: 60%;
    background-color: white;
    padding-top:30px;
    margin-bottom:10px;
 
}

.title-s {
    font-size:30px;
    padding-top:50px;
    margin-left:50px;
    text-align: left;
    margin-bottom: 50px;
    border-bottom: 3px solid rgb(247, 235, 71);
    width:200px;
    padding:5px;
    white-space: nowrap;
}

.setting_form {
    margin-left:30%;
    margin-top:40px;
    width: 100%;
}

.settingcrew {
display: flex;
margin: auto;
padding: 10px;
}


#fixdone {
    font-size:15px;
    padding:10px;
    width:150px;
    margin-top:50px;
    border:3px solid gray;
    background-color: white;
    border-radius: 20px;
    margin-left:70%;
  }
  
  #fixdone:hover{
    background-color: rgb(247, 235, 71);
  }
  
table {
	border-collapse: collapse;
}
td, th {
	text-align : left;
	padding: 10px;
	height: 20px;
	width: 200px;
}

#crewplace, #crewid {
	border : 2px solid skyblue;
	border-radius : 5px;
}

.crewsetting_input:hover {
	background : aliceblue;
	border : 2px solid skyblue;
	border-radius : 5px;
}

a {
  color: black;
  font-style: none;
}